---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About me";

const identity = {
    firstName: "Daniel",
    lastName: "Prol",
    country: "Spain",
    ocuppation: "AI engineer",
    hobbies: ["basketball", "programming"],
};

const skills = ["lua", "python", "astro"];

const stressed = true;

const skillColor = "navy";
const fontWeight = 700;
const textCase = "uppercase";
---

<BaseLayout pageTitle={pageTitle}>
    <!-- Use is:global to modify the style when using layouts -->
    <style is:global define:vars={{ skillColor, fontWeight, textCase }}>
        h1 {
            color: purple;
            font-size: 4rem;
            font-weight: var(--fontWeight);
            text-transform: var(--textCase);
        }

        .skill {
            color: var(--skillColor);
            font-weight: bold;
        }
    </style>

    <p>
        My name is what?, My name is who?, My name is shkhhkkk, shkkk slim {
            identity.firstName + identity.lastName
        }
    </p>
    <p>I live in {identity.country}</p>
    {identity.hobbies.length ? <p>I have hobbies</p> : <p>I have NO hobbies</p>}
    <p>and more boring content</p>
    {
        skills && (
            <ul>
                {skills.map((skill) => (
                    <li class="skill">{skill}</li>
                ))}
            </ul>
        )
    }

    {stressed && <p>Yes, I am stressed out by work</p>}
</BaseLayout>
