---
import BaseLayout from "../layouts/BaseLayout.astro";
// IMPORTANT: js in frontmatter runs at BUILD TIME!

const pageTitle = "Home page";
---

<BaseLayout pageTitle={pageTitle}>
    <h1>Hello</h1>
    <p>Another content</p>
</BaseLayout>
